[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "8.0.3"
jinja2 = "3.0.3"
requests = "2.31.0"
rich = "13.7.1"

[dev-packages]

[requires]
python_version = "3.10"
